@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

.dflex {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

.dflex a img
{
  width: 15%;
  height: 15%;
  background-size: cover;
  border-radius: 50%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* Header (Nav Bar) */

header {
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 0 10px gray;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #e3e6f3;
}

header a {
    color: black;
  }
  
  #navbar {
    align-items: center;
    justify-content: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
  }
  
  #navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
  }
  
  #navbar li a:hover,
  #navbar li a.active {
    color: #26b074;
  }
  
  /* Main Section */
  
  .main {
    background-image: url('./img/hero4.png');
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  
  .main h4 {
    padding-bottom: 15px;
  }
  
  .main h1 {
    color: #26b074;
  }
  
  .main button {
    background-image: url('./img/button.png');
    background-color: transparent;
    color: #26b074;
    border: none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }
  
  .mobile {
    display: none;
  }
  
  #close {
    display: none;
  }
  
  /* Feature Section */
  
  .feature {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .ft-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 1px;
  }
  
  .ft-box:hover {
    box-shadow: 10px 20px 54px rgba(70, 62, 221, 0.1);
  }
  
  .ft-box img {
    width: 100%;
    margin-bottom: 10px;
  }

  
.ft-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    color: #26b074;
    line-height: 1;
    border-radius: 4px;
    background-color: #fddde4;
  }
  
  .ft-box:nth-child(2) h6 {
    background-color: #cdebbc;
  }
  
  .ft-box:nth-child(3) h6 {
    background-color: #d1e8f2;
  }
  
  .ft-box:nth-child(4) h6 {
    background-color: #cdd4f8;
  }
  
  .ft-box:nth-child(5) h6 {
    background-color: #f6dbf6;
  }
  
  .ft-box:nth-child(6) h6 {
    background-color: #fff2e5;
  }
  
  .product1 {
    text-align: center;
  }
  
  .pro-container {
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  }
  
  .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  
  .pro img {
    width: 100%;
    border-radius: 20px;
  }
  
  .des {
    text-align: start;
    padding: 10px 0;
  }
  
  .des span {
    color: #060606;
    font-size: 12px;
  }
  
  .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
  }
  
  .star {
    font-size: 12px;
    color: rgb(243, 181, 25);
  }
  
  .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #26b074;
  }
  
  .cart {
    width: 20px;
    height: 20px;
    padding: 8px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #26b074;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  /* Banner Section */
  
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('./img/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
  }
  
  .banner h4 {
    color: #fff;
    font-size: 16px;
  }
  
  .banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
  }
  
  .banner h2 span {
    color: #26b074;
  }
  
  .banner button:hover {
    background-color: #26b074;
    color: #fff;
  }
  
  /* Some New Banners Section */
  
  .sm-banner {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .banner-box {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('./img/banner/b17.jpg');
    min-width: 530px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
  }
  
  .banner-box2 {
    background-image: url('./img/banner/b10.jpg');
  }
  
  .banner-box h4 {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
  }
  
  .banner-box h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
  }
  
  .banner-box span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  
  .banner-box button:hover {
    background-color: #26b074;
    border: 1px solid #26b074;
  }
  
  .banner3 {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
  }
  
  .banner3 .banner-box {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('./img/banner/b7.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  